<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Stock Out Notification </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta author="Boniface Chacha">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous">
  <style media="print">
    @media print {
      body {
        -webkit-print-color-adjust: exact;
      }

      /* Ensure the content and signature are visible */
      .content, .signature {
        display: block;
      }

      /* Adjust page layout to ensure footer is at the bottom */
      @page {
        margin: 1cm;
      }

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      /* Use a fixed position for the signature at the bottom of each page */
      .signature {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
      }
    }

    @page {
      size: A4 landscape;
      -webkit-print-color-adjust: exact;
    }
  </style>
</head>
<body onload="javascript:doPrint()">
<!--<body>-->
<div class="content container-fluid">
  <div class="row align-items-top">
    <div class="col">
      <img class="rounded float-start"
           width="200px"
           src="https://i.ibb.co/GP4MZgt/529130-361475730561003-2004061911-n.jpg"
           alt="529130-361475730561003-2004061911-n"/>
    </div>
    <div class="col offset-4">
      <address class="text-end">
        <strong>Medical Store Department</strong><br/>
        <div class="pre">Off Nyerere Road, Keko Mwanga</div>
        <div>P.O.Box 9081, Dar es salaam,Tanzania</div>
      </address>
    </div>
  </div>

  <div class="row align-items-end">
    <div class="col">
      <table class="table table-sm table-bordered">
        <tbody>
        <tr>
          <td><span class="caption">TIN</span></td>
          <td><b>101-060-195</b></td>
        </tr>
        <tr>
          <td><span class="caption">ISO</span></td>
          <td><b>90001:2015 CERTIFIED</b></td>
        </tr>
        <tr>
          <td><span class="caption">ZONE</span></td>
          <td><b th:text="${notification.facility.geographicZone.parent.parent.name}">MZ</b></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col offset-4">
      <table class="table table-sm text-end ">
        <tbody>
        <tr>
          <td><span class="caption">Telephone</span></td>
          <td><span>(255 22) 2860890-7</span></td>
        </tr>
        <tr>
          <td><span class="caption">Fax</span></td>
          <td><span>(255 22) 2865814 2865819</span></td>
        </tr>
        <tr>
          <td><span class="caption">Email</span></td>
          <td><span>info@msd.go.tz</span></td>
        </tr>
        <tr>
          <td><span class="caption">Website</span></td>
          <td><span>www.msd.go.tz</span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h3>Stock Out Notification Report</h3>
      <hr/>
    </div>
  </div>

  <div class="row align-items-end">
    <div class="col">
      <table class="table  table-sm caption-top">
        <tbody>
        <tr>
          <td>Customer Name</td>
          <td th:text="${notification.facility.name}">Dmo Kahama - Kahama District Hospital</td>
        </tr>
        <tr>
          <td>Customer ID</td>
          <td th:text="${notification.facility.code}">MZ410010</td>
        </tr>
        <tr>
          <td>HFR Code</td>
          <td th:text="${notification.hfrCode}">102181-5</td>
        </tr>
        <tr>
          <td>Address</td>
          <td th:text="${notification.facility.extraData['address']}">P.O.Box Kahama TC Shinyanga Tanzania</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col offset-2">
      <table class="table  table-sm caption-top">
        <tbody>
        <tr>
          <td>Notification Date</td>
          <td th:text="${#temporals.format(notification.getNotificationDate(),'dd-MM-YYYY')}">22-06-2024</td>
        </tr>
        <tr>
          <td>Valid Up To</td>
          <td th:text="${#temporals.format(notification.getNotificationDate().plusDays(7),'dd-MM-YYYY')}">06-July-2024</td>
        </tr>
        <tr>
          <td>Order Number</td>
          <td th:text="${notification.getElmisOrderNumber()}">OLABReport785767E</td>
        </tr>
        <tr>
          <td>Program</td>
          <td th:text="${notification.program.name}">Redesigned LAB</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <span>
        <b>Comment : </b>
        <i th:text="${notification.comment}">Sample Comment</i>
      </span>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col">
      <table class="table">

        <thead>
        <tr class="table-light">
          <th>Code</th>
          <th>Name</th>
          <th>UOM</th>
          <th>Quantity Ordered</th>
          <th>Quantity Shipped</th>
          <th>Quantity Missing</th>
          <th>Status</th>
        </tr>
        </thead>

        <tbody>

        <th:block th:each="entry:${notification.stockOutItems}">
        <tr>
          <td th:text="${entry['itemCode']}">40060421</td>
          <td th:text="${entry['itemDescription']}">Free Thyronine (fT4) Cassettes for Immunology Analyzer (Getein 1100).</td>
          <td th:text="${entry['uom']}">1KIT</td>
          <td th:text="${entry['quantityOrdered']}">3</td>
          <td th:text="${entry['quantityShipped']}">0</td>
          <td th:text="${entry['quantity']}">0</td>
          <td th:text="${entry['missingItemStatus']}">Out Of Stock</td>
        </tr>
        </th:block>
        </tbody>

      </table>
    </div>
  </div>

</div>

<div class="signature">
  <img src="https://i.ibb.co/3pGKPmQ/msd-signature.png"
       alt="msd-signature"/>
</div>
<script type="text/javascript">
  function doPrint() {
    setTimeout(function () {
      window.print();
      self.close();
    }, 0);
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>